<% @book = Book.new unless @book %>

<h2>Editing Book</h2>
<%= form_for(@book) do |f| %>
  <%= render partial: 'layouts/error_messages', locals: {model: @book} %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <div><%= f.submit 'Update Book' %></div>
<% end %>

<p><%= link_to "Show", book_path(@book) %><span>|</span>
   <%= link_to "Back", books_path %></p>